html,body{height:100%}
.container {width:100%;}
.footer {margin-top:-30px;height:30px;}
.wrap{min-height:100%}
.main{padding-bottom:30px;overflow:hidden;}
@font-face{
    font-family:'Glyphicons Halflings';
    src:url(../bootstrap/fonts/glyphicons-halflings-regular.eot);
    src:url(../bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'),url(../bootstrap/fonts/glyphicons-halflings-regular.woff2) format('woff2'),url(../bootstrap/fonts/glyphicons-halflings-regular.woff) format('woff'),url(../bootstrap/fonts/glyphicons-halflings-regular.ttf) format('truetype'),url(../bootstrap/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg');
}
